<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión con Google</title>
    <script>
        console.log("Intentando autenticar en: " + window.location.origin);
    </script>
    

    <!-- SDK de Google -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body>
    <h1>Iniciar sesión con Google</h1>

    <!-- Contenedor de Google Sign-In -->
    <div id="g_id_onload" data-client_id="1036846938937-cah8a6qlg2r9dic4o8mll62cia0p4rua.apps.googleusercontent.com"
        data-login_uri="http://localhost:8000/accounts/google/login/callback/" data-auto_prompt="false"
        data-prompt="select_account">
    </div>


    <!-- BOTÓN -->
    <div id="google-btn" class="g_id_signin" data-type="standard" data-size="large" data-theme="outline"
        data-text="sign_in_with" data-shape="rectangular" data-logo_alignment="left">
    </div>

</body>

</html>